@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
$color: #AE7C78;

body {
  margin:0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background: #FFFFFF;
  color: $color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: $color;
}

.header-block {
  margin: 26px 0 0 0;
  border-top: 1px solid #AE7C78;
  border-bottom: 1px solid #AE7C78;

  .header-nav {
    padding: 0;

    .header-list {
      margin: 0;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      padding: 22px 0;

      .header-item {
        list-style-type: none;

        .header-link {
          color: $color;
        }

      }

      .header-item:nth-child(2) {
        .header-link{
          text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
        margin-right: 102px;
      }
      .header-item:first-child{
        margin-right: 102px;
      }
      .header-item:nth-child(3),.header-item:nth-child(4) {
        margin-right: 62px;
      }

      .header-item:nth-child(5),.header-item:nth-child(6) {
        margin-right: 89px;
      }

      .header-item:last-child{
        margin-left: 0;
        margin-right: 0;
      }
    }

  }
}

.info {
  margin-top: 81px;
  display: grid;
  grid-template-columns: 384px 793px;
  gap: 23px;

  .info-left {
    padding: 0;
    margin: 0;
    .info-main-text{
      font-family: Playfair Display, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 44px;
      line-height: 59px;
      margin-bottom: 0;
    }

    .info-text {
      font-size: 24px;
      line-height: 29px;
      margin-top: 24px;
      margin-bottom: 94px;
    }

    .info-see {
      background: #D89999;
      border-radius: 40px;

      padding: 30px 70px;

      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }

  }
  .info-right {
    display: flex;
    flex-wrap: wrap;
    .info-photo1{
      border-radius: 10px;
      width: 386px;
      padding-top: 60px;
      margin-right: 20px;
      img {
        height: 404px;
      }
    }
    .info-photo2{
      border-radius: 10px;
      width: 387px;
      height: 420px;
    }
  }
}

.advantages {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;

  .advantage {
    display: flex;
    justify-content: space-between;
    margin-right: 49px;
    .advantage-image {
      margin-right: 20px;
    }

    .advantage-info {
      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
      }
      p {
        width: 285px;
        margin-bottom: 0;
      }
    }
  }
  .advantage:last-child {
    margin-right: 0;
  }
}

.popular {
  margin-top: 80px;
  padding: 0 203px;

  h2 {
    text-align: center;
    font-family: Playfair Display, serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    margin-bottom: 36px;

  }
  .one-bouquet {
    display: flex;
    justify-content: space-between;

    .popular-info {
      padding-top: 27px;

      h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
      }

      .popular-info-text, .popular-info-size {
        margin-bottom: 24px;
      }

      .popular-info-cost {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 94px;
      }

      .popular-info-buy {
        background: #D89999;
        border-radius: 40px;
        padding: 30px 105px;
        color: #FFFFFF;
      }
    }
    .popular-img {
      margin-bottom: 24px;
    }
  }
  .arrows {
    display: flex;
    justify-content: center;
    gap: 20px;

    .arrow-left, .arrow-right {
      width: 50px;
    }
    .arrow-left {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}

.features {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;

  .feature {
    background: url(/img/feature_1.png);
    border-radius: 10px;
    width: 387px;
    height: 442px;
    .featureback {
      background: rgba(174, 124, 120, 0.6);
      border-radius: 10px;
      width: 387px;
      height: inherit;
      .feature-text {
        h2 {
          font-family: Playfair Display, serif;
          font-weight: 700;
          font-size: 35px;
          line-height: 48px;
          text-align: center;
          letter-spacing: 0.02em;
          color: #FFFFFF;
          margin-bottom: 8px;
          padding-top: 183px;

        }
        p {
          color: #FFFFFF;
          text-align: center;
        }

      }

    }

  }
  .feature:nth-child(2) {
    background: url(/img/feature_2.png);
  }

  .feature:nth-child(3) {
    background: url(/img/feature_3.png);
  }
}

.sale {
  margin-top: 80px;
  background: #AE7C78;
  display: flex;
  gap: 120px;
  padding-left: 102px;

  .sale-text {
    margin-top: 40px;

    h2 {
      font-family: Playfair Display, serif;
      font-size: 44px;
      line-height: 59px;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      margin-bottom: 24px;
    }
    p {
      font-size: 24px;
      line-height: 29px;

      color: #FFFFFF;
    }
  }
}

.steps {
  margin-top: 80px;
  h2{
    text-align: center;
    font-family: Playfair Display,serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }
  .steps-info {
    display: flex;
    justify-content: space-between;

    .step {
      align-content: center;
      text-align: center;

      img {
        margin-bottom: 8px;
      }

      h4 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;
      }
    }
  }
}

.news {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  .news-info{
    padding-top: 70px;
    width: 487px;
    margin-right: 21px;
    h2 {
      font-family: Playfair Display, serif;
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
      letter-spacing: 0.02em;
      margin-bottom: 40px;
    }

    p {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 40px;
    }
    .social{
      display: flex;
      gap: 20px;
    }
  }

  .news-images {
    display: grid;
    grid-template-areas: "ph1 ph3"
                         "ph2 ph3";
    gap: 20px;

    .photo-1 {
      grid-area: ph1;
    }

    .photo-2 {
      grid-area: ph2;
    }

    .photo-3 {
      grid-area: ph3;
    }
  }
}

.reviews {
  margin-top: 80px;
  border: 1px solid #AE7C78;
  padding: 40px 44px 64px;
  margin-bottom: 100px;

  h2 {
    font-family: Playfair Display, serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;

    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 40px;

  }

  .full-reviews {
    display: flex;
    justify-content: space-between;

    .review {
      text-align: center;

      .review-author {
        font-weight: 500;
        margin-top: 16px;
        margin-bottom: 0;
      }
    }
  }
}
